<%- include("header") -%>
<div class="jumbotron jumbotron-fluid successful-new-bptcr-submission">
  <div class="container">
    <h1 class="display-4">Submission <span style="color: red;">failed!</span></h1>
    <p class="lead">Please report the failure immediately. If you are facing repeated failures then please raise the BPTCR manually.</p>
    <hr class="my-4">
    <p style="color: red;">ERROR: <%= ejsError %></p>
  </div>
</div>
<%- include("footer") -%>
