<%- include("header") -%>
<div class="jumbotron jumbotron-fluid successful-new-bptcr-submission">
  <div class="container">
    <h1 class="display-4">Submission was successful!</h1>
    <p class="lead">Your BPTCR should now be visible in Swarm Link. A swarm request for your BPTCR was created</p>
    <hr class="my-4">
    <p>Please get your CL reviewed and promoted. Swarm link <a href="http://devsam30.unix.gsm1900.org/<%= ejsChangeList %>" target="_blank" rel="noopener noreferrer"><%= ejsChangeList %></a></p>
  </div>
</div>
<%- include("footer") -%>
